# ABOUT:
- this notebook reads and writes the dataset into sqlite3 database

In [1]:
import sqlite3
import pandas as pd
import os
import yaml
import re

In [2]:
with open("config.yml", "r") as f:
    config = yaml.safe_load(f)

#### read data

In [3]:
# If fail, please set the path to dataset at config.yml
data = pd.read_csv(config['TARGET_DATASET_PATH'])
desired_columns = data.columns.tolist()[1:]
list_of_records = data[desired_columns].to_records(index = False).tolist()

In [4]:
list_of_records[:10]

[(4, 0, 87, 3, 1, 1, 80, 96, 1),
 (8, 1, 27, 1, 1, 1, 142, 88, 1),
 (12, 1, 59, 2, 0, 0, 112, 80, 1),
 (14, 1, 77, 3, 0, 0, 100, 70, 0),
 (27, 0, 76, 3, 1, 1, 128, 90, 1),
 (28, 1, 54, 2, 0, 1, 142, 103, 1),
 (32, 1, 87, 3, 1, 1, 110, 154, 1),
 (38, 1, 69, 2, 0, 1, 110, 132, 1),
 (40, 1, 63, 2, 0, 0, 104, 66, 0),
 (41, 1, 30, 1, 1, 0, 144, 110, 1)]

#### create database

In [5]:
# If fail, please set the directory to database in config.yml
con = sqlite3.connect(f"{config['SQLITE_DATABASE_DIR']}/ICU.db")
cur = con.cursor()

#### create table

In [8]:
desired_columns = data.columns.tolist()[1:] 
cur.execute("""CREATE TABLE IF NOT EXISTS ICU(
    ID INTEGER NOT NULL PRIMARY KEY, 
    Survive INTEGER, 
    Age INTEGER, 
    AgeGroup INTEGER, 
    Sex INTEGER, 
    Infection INTEGER, 
    SysBP INTEGER, 
    Pulse INTEGER, 
    Emergency INTEGER)""")

### insert all records

In [9]:
cur.executemany('INSERT INTO ICU VALUES(?,?,?,?,?,?,?,?,?)', list_of_records)

In [10]:
# show one record
cur.execute("""select * from ICU""")
cur.fetchone()

(4, 0, 87, 3, 1, 1, 80, 96, 1)

In [11]:
con.commit()
con.close()

In [37]:
# # Delete ALl Records
# cur.execute(f"DELETE FROM ICU")

In [6]:
# DROP table
# cur.execute(f"DROP TABLE ICU")